n8n-pipelines/shopify_refunds_pipeline.json
{
  "name": "Shopify Refunds → BigQuery",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 13 * * *"}]}
      },
      "id": "sr-trigger", "name": "Daily 1PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [112, -192]
    },
    {
      "parameters": {
        "url": "https://mine-yours-co.myshopify.com/admin/api/2024-01/orders.json",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "status", "value": "any"},
          {"name": "financial_status", "value": "refunded,partially_refunded"},
          {"name": "updated_at_min", "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}"},
          {"name": "updated_at_max", "value": "={{ new Date().toISOString().split('T')[0] }}"}
        ]},
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Shopify-Access-Token", "value": "REPLACE_WITH_SHOPIFY_ACCESS_TOKEN"}]},
        "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}}
      },
      "id": "sr-fetch", "name": "Get First Page",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, -192],
      "credentials": {"httpHeaderAuth": {"id": "REPLACE_WITH_SHOPIFY_CREDENTIAL_ID", "name": "Shopify Mine & Yours"}}
    },
    {
      "parameters": {"jsCode": "const resp = items[0].json;\nconst headers = resp.headers || {};\nconst body = resp.body || {};\nconst data = body.orders || [];\nconst linkHeader = headers.link || headers['Link'] || '';\nconst nextMatch = linkHeader.match(/<([^>]+)>; rel=\"next\"/);\nconst nextUrl = nextMatch ? nextMatch[1] : null;\nreturn [{ json: { allData: data, nextUrl: nextUrl, pageCount: 1 } }];"},
      "id": "sr-init", "name": "Initialize Pagination",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [608, -192]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{ $json.nextUrl }}", "operation": "isNotEmpty"}]}},
      "id": "sr-if", "name": "Has More Pages?",
      "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [816, -192]
    },
    {
      "parameters": {
        "url": "={{ $json.nextUrl }}", "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Shopify-Access-Token", "value": "REPLACE_WITH_SHOPIFY_ACCESS_TOKEN"}]},
        "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}}
      },
      "id": "sr-next", "name": "Fetch Next Page",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1008, -384],
      "credentials": {"httpHeaderAuth": {"id": "REPLACE_WITH_SHOPIFY_CREDENTIAL_ID", "name": "Shopify Mine & Yours"}}
    },
    {
      "parameters": {"jsCode": "const prev = $node[\"Has More Pages?\"].json;\nconst curr = items[0].json;\nconst body = curr.body || {};\nconst newData = body.orders || [];\nconst allData = prev.allData.concat(newData);\nconst headers = curr.headers || {};\nconst linkHeader = headers.link || headers['Link'] || '';\nconst nextMatch = linkHeader.match(/<([^>]+)>; rel=\"next\"/);\nconst nextUrl = nextMatch ? nextMatch[1] : null;\nif (prev.pageCount >= 100) return [{ json: { allData: allData, nextUrl: null, pageCount: prev.pageCount + 1 } }];\nreturn [{ json: { allData: allData, nextUrl: nextUrl, pageCount: prev.pageCount + 1 } }];"},
      "id": "sr-merge", "name": "Merge Pages",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1216, -384]
    },
    {
      "parameters": {"jsCode": "const today = new Date().toISOString().split('T')[0];\nconst all = items[0].json.allData || [];\nconst results = [];\nfunction getWeek(ds){\n  var d=new Date(ds); d.setHours(0,0,0,0);\n  d.setDate(d.getDate()+3-(d.getDay()+6)%7);\n  var w=new Date(d.getFullYear(),0,4);\n  return 1+Math.round(((d-w)/86400000-3+(w.getDay()+6)%7)/7);\n}\nfor (var i=0;i<all.length;i++){\n  var o=all[i];\n  var refunds=o.refunds||[];\n  for (var r=0;r<refunds.length;r++){\n    var ref=refunds[r];\n    var rd=(ref.created_at||today).split('T')[0];\n    var dobj=new Date(ref.created_at||today);\n    var yr=dobj.getFullYear().toString();\n    var wk=getWeek(ref.created_at||today).toString();\n    var ym=yr+'|'+(dobj.getMonth()+1);\n    var adjs=ref.order_adjustments||[];\n    var sadj=adjs.find(function(a){return a.kind==='shipping_refund';})||{};\n    var dadj=adjs.find(function(a){return a.kind==='refund_discrepancy';})||{};\n    var rlis=ref.refund_line_items||[];\n    if(rlis.length===0){\n      results.push({json:{\n        date:rd, account_name:'mine-yours-co.myshopify.com',\n        order_id:(o.id||'').toString(), order_name:o.name||'',\n        source:'shopify', order_refunds:'gid://shopify/Refund/'+ref.id,\n        order_refund_discrepancy_amount:parseFloat(dadj.amount)||0,\n        order_total_shipping_refunded_price:parseFloat(sadj.amount)||0,\n        line_item__refunds:null, line_item__refundable_quantity:null,\n        line_item__refunds_price:null, line_item__refunds_quantity:null,\n        line_item__refunds_subtotal:null, line_item__refunds_total_tax:null,\n        week:wk, year:yr, year_month:ym\n      }});\n    } else {\n      for (var k=0;k<rlis.length;k++){\n        var rli=rlis[k];\n        results.push({json:{\n          date:rd, account_name:'mine-yours-co.myshopify.com',\n          order_id:(o.id||'').toString(), order_name:o.name||'',\n          source:'shopify', order_refunds:'gid://shopify/Refund/'+ref.id,\n          order_refund_discrepancy_amount:parseFloat(dadj.amount)||0,\n          order_total_shipping_refunded_price:parseFloat(sadj.amount)||0,\n          line_item__refunds:null,\n          line_item__refundable_quantity:rli.quantity||0,\n          line_item__refunds_price:parseFloat(rli.subtotal)||0,\n          line_item__refunds_quantity:rli.quantity||0,\n          line_item__refunds_subtotal:parseFloat(rli.subtotal)||0,\n          line_item__refunds_total_tax:parseFloat(rli.total_tax)||0,\n          week:wk, year:yr, year_month:ym\n        }});\n      }\n    }\n  }\n}\nif (results.length === 0) return [{json:{message:'No refunds yesterday'}}];\nreturn results;"},
      "id": "sr-transform", "name": "Transform",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1008, 16]
    },
    {
      "parameters": {
        "authentication": "serviceAccount", "operation": "insert",
        "projectId": "mine-and-yours-analytics",
        "datasetId": {"__rl": true, "mode": "id", "value": "raw_shopify"},
        "tableId": {"__rl": true, "mode": "id", "value": "shopify_refunds"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}", "account_name": "={{ $json.account_name }}",
            "order_id": "={{ $json.order_id }}", "order_name": "={{ $json.order_name }}",
            "source": "={{ $json.source }}", "order_refunds": "={{ $json.order_refunds }}",
            "order_refund_discrepancy_amount": "={{ $json.order_refund_discrepancy_amount }}",
            "order_total_shipping_refunded_price": "={{ $json.order_total_shipping_refunded_price }}",
            "line_item__refunds": "={{ $json.line_item__refunds }}",
            "line_item__refundable_quantity": "={{ $json.line_item__refundable_quantity }}",
            "line_item__refunds_price": "={{ $json.line_item__refunds_price }}",
            "line_item__refunds_quantity": "={{ $json.line_item__refunds_quantity }}",
            "line_item__refunds_subtotal": "={{ $json.line_item__refunds_subtotal }}",
            "line_item__refunds_total_tax": "={{ $json.line_item__refunds_total_tax }}",
            "week": "={{ $json.week }}", "year": "={{ $json.year }}", "year_month": "={{ $json.year_month }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "account_name", "displayName": "account_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "order_id", "displayName": "order_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "order_name", "displayName": "order_name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "source", "displayName": "source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "order_refunds", "displayName": "order_refunds", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "order_refund_discrepancy_amount", "displayName": "order_refund_discrepancy_amount", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "order_total_shipping_refunded_price", "displayName": "order_total_shipping_refunded_price", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refunds", "displayName": "line_item__refunds", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refundable_quantity", "displayName": "line_item__refundable_quantity", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refunds_price", "displayName": "line_item__refunds_price", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refunds_quantity", "displayName": "line_item__refunds_quantity", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refunds_subtotal", "displayName": "line_item__refunds_subtotal", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "line_item__refunds_total_tax", "displayName": "line_item__refunds_total_tax", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "week", "displayName": "week", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "year", "displayName": "year", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "year_month", "displayName": "year_month", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "sr-bq", "name": "Insert → BQ",
      "type": "n8n-nodes-base.googleBigQuery", "typeVersion": 2, "position": [1264, 16],
      "credentials": {"googleApi": {"id": "dFX4xttq1VAPhWrA", "name": "Google BigQuery Main"}}
    }
  ],
  "connections": {
    "Daily 1PM Trigger": {"main": [[{"node": "Get First Page", "type": "main", "index": 0}]]},
    "Get First Page": {"main": [[{"node": "Initialize Pagination", "type": "main", "index": 0}]]},
    "Initialize Pagination": {"main": [[{"node": "Has More Pages?", "type": "main", "index": 0}]]},
    "Has More Pages?": {"main": [
      [{"node": "Fetch Next Page", "type": "main", "index": 0}],
      [{"node": "Transform", "type": "main", "index": 0}]
    ]},
    "Fetch Next Page": {"main": [[{"node": "Merge Pages", "type": "main", "index": 0}]]},
    "Merge Pages": {"main": [[{"node": "Has More Pages?", "type": "main", "index": 0}]]},
    "Transform": {"main": [[{"node": "Insert → BQ", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "meta": {"instanceId": "8cb571becb45836e8a44d1866949f895ec363ca3f69c545d19d13f3e85dd0baa"}
}
