n8n-pipelines/shopify_product_metafields_pipeline.json
{
  "name": "Shopify Product Metafields → BigQuery",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 13 * * *"}]}
      },
      "id": "smf-trigger", "name": "Daily 1PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [112, -192]
    },
    {
      "parameters": {
        "url": "https://mine-yours-co.myshopify.com/admin/api/2024-01/products.json",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "updated_at_min", "value": "={{ new Date(Date.now() - 86400000).toISOString().split('T')[0] }}"},
          {"name": "updated_at_max", "value": "={{ new Date().toISOString().split('T')[0] }}"},
          {"name": "fields", "value": "id,title,updated_at"}
        ]},
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Shopify-Access-Token", "value": "REPLACE_WITH_SHOPIFY_ACCESS_TOKEN"}]},
        "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}}
      },
      "id": "smf-fetch", "name": "Get First Page",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, -192],
      "credentials": {"httpHeaderAuth": {"id": "REPLACE_WITH_SHOPIFY_CREDENTIAL_ID", "name": "Shopify Mine & Yours"}}
    },
    {
      "parameters": {"jsCode": "const resp = items[0].json;\nconst headers = resp.headers || {};\nconst body = resp.body || {};\nconst data = body.products || [];\nconst linkHeader = headers.link || headers['Link'] || '';\nconst nextMatch = linkHeader.match(/<([^>]+)>; rel=\"next\"/);\nconst nextUrl = nextMatch ? nextMatch[1] : null;\nreturn [{ json: { allData: data, nextUrl: nextUrl, pageCount: 1 } }];"},
      "id": "smf-init", "name": "Initialize Pagination",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [608, -192]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{ $json.nextUrl }}", "operation": "isNotEmpty"}]}},
      "id": "smf-if", "name": "Has More Pages?",
      "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [816, -192]
    },
    {
      "parameters": {
        "url": "={{ $json.nextUrl }}", "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Shopify-Access-Token", "value": "REPLACE_WITH_SHOPIFY_ACCESS_TOKEN"}]},
        "options": {"response": {"response": {"fullResponse": true, "responseFormat": "json"}}}
      },
      "id": "smf-next", "name": "Fetch Next Page",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1008, -384],
      "credentials": {"httpHeaderAuth": {"id": "REPLACE_WITH_SHOPIFY_CREDENTIAL_ID", "name": "Shopify Mine & Yours"}}
    },
    {
      "parameters": {"jsCode": "const prev = $node[\"Has More Pages?\"].json;\nconst curr = items[0].json;\nconst body = curr.body || {};\nconst newData = body.products || [];\nconst allData = prev.allData.concat(newData);\nconst headers = curr.headers || {};\nconst linkHeader = headers.link || headers['Link'] || '';\nconst nextMatch = linkHeader.match(/<([^>]+)>; rel=\"next\"/);\nconst nextUrl = nextMatch ? nextMatch[1] : null;\nif (prev.pageCount >= 100) return [{ json: { allData: allData, nextUrl: null, pageCount: prev.pageCount + 1 } }];\nreturn [{ json: { allData: allData, nextUrl: nextUrl, pageCount: prev.pageCount + 1 } }];"},
      "id": "smf-merge", "name": "Merge Pages",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1216, -384]
    },
    {
      "parameters": {"jsCode": "const products = items[0].json.allData || [];\nreturn products.map(function(p) {\n  return { json: { product_id: (p.id||'').toString(), product_title: p.title||'' } };\n});"},
      "id": "smf-extract", "name": "Extract Product IDs",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1008, 16]
    },
    {
      "parameters": {"batchSize": 1, "options": {}},
      "id": "smf-loop", "name": "Loop Products",
      "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [1264, 16]
    },
    {
      "parameters": {
        "url": "=https://mine-yours-co.myshopify.com/admin/api/2024-01/products/{{ $json.product_id }}/metafields.json",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Shopify-Access-Token", "value": "REPLACE_WITH_SHOPIFY_ACCESS_TOKEN"}]},
        "options": {}
      },
      "id": "smf-getmeta", "name": "Get Metafields",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1500, 16],
      "credentials": {"httpHeaderAuth": {"id": "REPLACE_WITH_SHOPIFY_CREDENTIAL_ID", "name": "Shopify Mine & Yours"}}
    },
    {
      "parameters": {"jsCode": "const today = new Date().toISOString().split('T')[0];\nconst productId = $('Loop Products').item.json.product_id;\nconst productTitle = $('Loop Products').item.json.product_title;\nconst results = [];\nvar raw = items[0].json;\nif (typeof raw === 'string') { try { raw = JSON.parse(raw); } catch(e) { raw = {}; } }\nvar metafields = raw.metafields || [];\nfor (var i=0;i<metafields.length;i++){\n  var m=metafields[i];\n  results.push({json:{\n    date: today,\n    product_id: productId,\n    product_title: productTitle,\n    product_metafield_key: m.key||'',\n    product_metafield_namespace: m.namespace||'',\n    product_metafield_type: m.type||'',\n    product_metafield_update_at: m.updated_at||null,\n    product_metafield_value: m.value ? m.value.toString() : null\n  }});\n}\nif (results.length === 0) return [{json:{message:'No metafields'}}];\nreturn results;"},
      "id": "smf-transform", "name": "Transform Metafields",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1750, 16]
    },
    {
      "parameters": {
        "authentication": "serviceAccount", "operation": "insert",
        "projectId": "mine-and-yours-analytics",
        "datasetId": {"__rl": true, "mode": "id", "value": "raw_shopify"},
        "tableId": {"__rl": true, "mode": "id", "value": "shopify_product_metafields"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}", "product_id": "={{ $json.product_id }}",
            "product_title": "={{ $json.product_title }}",
            "product_metafield_key": "={{ $json.product_metafield_key }}",
            "product_metafield_namespace": "={{ $json.product_metafield_namespace }}",
            "product_metafield_type": "={{ $json.product_metafield_type }}",
            "product_metafield_update_at": "={{ $json.product_metafield_update_at }}",
            "product_metafield_value": "={{ $json.product_metafield_value }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "date", "displayName": "date", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_id", "displayName": "product_id", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_title", "displayName": "product_title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_metafield_key", "displayName": "product_metafield_key", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_metafield_namespace", "displayName": "product_metafield_namespace", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_metafield_type", "displayName": "product_metafield_type", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_metafield_update_at", "displayName": "product_metafield_update_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false},
            {"id": "product_metafield_value", "displayName": "product_metafield_value", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}
          ]
        },
        "options": {}
      },
      "id": "smf-bq", "name": "Insert → BQ",
      "type": "n8n-nodes-base.googleBigQuery", "typeVersion": 2, "position": [2000, 16],
      "credentials": {"googleApi": {"id": "dFX4xttq1VAPhWrA", "name": "Google BigQuery Main"}}
    }
  ],
  "connections": {
    "Daily 1PM Trigger": {"main": [[{"node": "Get First Page", "type": "main", "index": 0}]]},
    "Get First Page": {"main": [[{"node": "Initialize Pagination", "type": "main", "index": 0}]]},
    "Initialize Pagination": {"main": [[{"node": "Has More Pages?", "type": "main", "index": 0}]]},
    "Has More Pages?": {"main": [
      [{"node": "Fetch Next Page", "type": "main", "index": 0}],
      [{"node": "Extract Product IDs", "type": "main", "index": 0}]
    ]},
    "Fetch Next Page": {"main": [[{"node": "Merge Pages", "type": "main", "index": 0}]]},
    "Merge Pages": {"main": [[{"node": "Has More Pages?", "type": "main", "index": 0}]]},
    "Extract Product IDs": {"main": [[{"node": "Loop Products", "type": "main", "index": 0}]]},
    "Loop Products": {"main": [
      [{"node": "Get Metafields", "type": "main", "index": 0}],
      []
    ]},
    "Get Metafields": {"main": [[{"node": "Transform Metafields", "type": "main", "index": 0}]]},
    "Transform Metafields": {"main": [[{"node": "Insert → BQ", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "meta": {"instanceId": "8cb571becb45836e8a44d1866949f895ec363ca3f69c545d19d13f3e85dd0baa"}
}
